@import "../../responsive.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");

.homePage {
  padding: 10px;
  margin-top: 10px;
  min-height: 100vh;

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white; /* white background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it's on top */
  }
  
  .loadingMessage {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    font-family: "Noto Serif JP", sans-serif;
    text-align: center;
  }
  
  .hidden {
    display: none; /* Hide the content when loading */
  }
  .sources {
    display: flex;
    gap: 15px;

    @include md{
      flex-direction: column;
      margin: auto;
      gap: 25px;
      width: 75%;
      height: 1500px;
    }
    .source {
      display: flex;
      flex: 2;
      flex-direction: column;
      overflow: scroll;
      height: 600px;
      border: 1px solid black;
      border-radius: 5px;
      background-color: #EEEEEE;

      .newsSource {
        background-color: white;
        text-align: center;
        padding: 10px;
        font-size: 24px;
        color: black;
        text-decoration: none;
        font-family: "Noto Serif JP";
        font-weight: 800;

        @include md {
          font-size: 20px;
        }
        &:hover {
          scale: 1.05;
        }
      }
    }
  }
}
