.addNote {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 1em 2em;
    font-size: 1.1em;
    letter-spacing: 1px;
    background: linear-gradient(#c53913, #f5400f);
    color: #f4f0e4;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }